body {
  margin-left: 50px;
  margin-top: 25px;
}

.box {
  height: 100px;
  width: 150px;
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.box-base {
  background-color: red;
}

.box-important {
  background-color: #660d0d;
}

.box-warning {
  background-color: #ecaaaa;
}

.box-shadow {
  box-shadow: 25px 25px 25px 5px #454545;
}

.text-principal {
  font-family: arial;
}

.text-secondary {
  font-family: monospace;
}
