$box-base: rgb(0, 60, 255);
$box-important: rgb(0, 25, 109);
$box-warning: rgb(160, 180, 245);
$text-principal: sans-serif;
$text-secondary: serif;
$box-shadow: -25px 25px 25px 5px rgba(69,69,69,1);
$border-radius: 5px;

@import 'common-elements';