$box-base: rgb(255, 0, 0);
$box-important: rgb(102, 13, 13);
$box-warning: rgb(236, 170, 170);
$text-principal: arial;
$text-secondary: monospace;
$box-shadow: 25px 25px 25px 5px rgba(69,69,69,1);
$border-radius: 10px;

@import 'common-elements';